.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
header {
  border-bottom: 2px dotted red;
  margin-bottom: 2em;
}
.logo {
  background-color: #ffd922;
  color: black;
  font-weight: 900;
  float: left;
  padding: 1em 2em;
}
nav ul {
  list-style: none;
  float: right;
  padding: 1em;
  margin: 0;
}
ul li {
  display: inline;
  padding: 0 2em;
}
.container {
  display: flex;
}